* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
  line-height: 1.4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.image {
  width: 300px;
  border-radius: 8px;
  border: 3px solid #3a7a2e;
  display: block;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
  margin-left: 10px;
  color: #4f772d;
}

p,
ul,
ol {
  margin-bottom: 24px;
}

ul,
ol {
  margin-left: 18px;
}

h3 {
  display: inline-block;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-bottom: 2px;
}

.link-style {
  margin-left: 5px;
  color: royalblue;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.link-style:hover {
  color: crimson;
  text-decoration: underline;
  background-color: lightgray;
}
